﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="HomePage.aspx.cs" Inherits="HomePage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>My Home Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Thats My Home Page
        <asp:HyperLink ID="hpLogin" runat="server" Text="Go to login" NavigateUrl="~/LogIn.aspx"></asp:HyperLink>
    </div>
    </form>
</body>
</html>
 