﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Manager.aspx.cs" Inherits="Manager" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
            <div><h1>Manager</h1></div>
    <div>
        <asp:GridView ID="gvRegistered" runat="server" Width="247px" DataSourceID="SQLregistration"></asp:GridView>
          <asp:SqlDataSource ID="SQLregistration" runat="server" ConnectionString="<%$ ConnectionStrings:REgisteredConnectionString %>" SelectCommand="SELECT [Name], [Email], [Password] FROM [UsersTable]"></asp:SqlDataSource>
    </div>
    </form>
  
</body>
</html>
