﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ProfilePage.aspx.cs" Inherits="ProfilePage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <form id="form1" runat="server">
            <div><h1>Profile View</h1></div>
    <div>
 

<div class="card">
  
 <table>
     <tr>
         <td>
              <asp:Label  ID="lbluserId" runat="server" ></asp:Label>
    
         </td>
         <td>
             Money : 
             <asp:Label ID="lblMoney" runat="server" ></asp:Label>
             <asp:Button ID="SellSocks" runat="server" Text="sellSocks" />

         </td>
     </tr>
     <tr>
         <td>
               Price of Socks : <asp:Label id="lblPrices" runat="server" ></asp:Label>
   
         </td>
     </tr>
     <tr>
         <td>
             <asp:Button ID="btnLogOut" runat="server" Text="Log Out"   OnClick="btnLogOut_Click"/>
         </td>
     </tr>
 </table>

    
 
  </div>

    </div>
    </form>
</body>
</html>
