﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RegistrationPage.aspx.cs" Inherits="RegistrationPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <div>  
            <table class="auto-style1">  
                <tr>  
                    <td>Name :</td>  
                    <td>  
                        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>  
                    </td>  
  
               </tr>  
                <tr>  
                    <td>Email</td>  
                     <td> <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox></td>  
                </tr>  
                <tr>  
                    <td>Confirm Password</td>  
                    <td>  
                        <asp:TextBox ID="TextBox3" runat="server" TextMode="Password"></asp:TextBox>  
                    </td>  
                </tr>  
               
                
                
                <tr>  
                    <td>  
                        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Create" />  
                    </td>  
                </tr>  
                    <tr>  
                        <td>

                        </td>
                    <td style="text-align:right">  
                        <asp:Button ID="Button2" runat="server" OnClick= "Button2_Click" Text="Next" />  
                    </td>  
                </tr> 
            </table>  
        </div>  
    </div>
    </form>
</body>
</html>
