﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Members.aspx.cs" Inherits="MembersPage_Members" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Welcome Members ! 
    </div>
    </form>
</body>
</html>
